body {
  margin: 1%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;
}
#navigation {
  font-family: FreeMono, monospace;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navigation li {
  display: inline;
}
h1 {
  font-family: FreeMono, monospace;
}
.col-1-3 {
  position: relative;
  width: 33.3333333333%;
  float: left;
  font-family: FreeMono, monospace;
  text-decoration: yellow;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.col-2-3 {
  position: relative;
  width: 66.6666666667%;
  float: left;
  font-family: 'Courier New', Courier, monospace;
  border-bottom-style: outset;
}
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgba(240, 39, 39, 0.771);
  text-align: center;
}
.bycenter {
  margin-left: 400px;
  width: 280px;
  height: 140px;
}
.call{
  color: green;
}
.viber{
  color: purple;
}
.tg{
  color: blue;
}
.avatar_img {
  width: 200px;
  height: 200px;
}